#controls-container{
    input{
        margin:auto;
        width:60%;
        border-radius: 5px;
        border: thin inset red;
        font-size: 2rem;
    }
}

@media screen and (max-width: $mobile-viewport) {
    #controls-container{
        input{
            margin:auto;
            width:100%;

        }
    }

}